<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">首頁</a>
        <a href="/about">專題介紹</a>
        <a href="/analysis">0050 分析</a>
        <a href="/etf">ETF 資料</a>
        <a href="/twse_0050">TWSE 0050 配息資料</a>
    </nav>

    <h1>{{ title }}</h1>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
                <tr>
                    {% for data in row %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>